<html>
<body>
<script src="https://unpkg.com/vue"></script>
<div id="test">
    <button @click="focusClick">Focus</button>
    <button @click="disableClick">Disabled</button>
    <div id="testSelector">
        <test-selector
                :data-for-select="dataForSelect"
                :props-names-in-data="propsNamesInData"
                :is-disabled="isDisabled"
                :is-focus="isFocus"
        >
            <template v-slot=placeholderSlot>
                <option value="" disabled hidden>{{selectPlaceholder}}</option>
            </template>
        </test-selector>
    </div>
</div>
<div id="eventsLog">
    <span>{{tittle}}</span>
    <li v-for="event in logEvents">
        {{event.message}}
    </li>
</div>
<script>
    Vue.component('test-selector', {
        props: {
            isDisabled: Boolean,
            isFocus: Boolean,
            dataForSelect: [Array, Object],
            propsNamesInData: Object
        },
        data: function () {
            return {
                selected: ''
            }
        },
        template: '<select v-model="selected" ref="selectRef" v-bind:disabled="isDisabled"><template><slot><option value="" disabled hidden>Choose</option></slot><option v-for="option in options" v-bind:value="option.value">{{option.title}}</option></template></select>',
        watch: {
            selected: function(newValue, oldValue){
                eventsLog.logEvents.push({message: 'Input ' + newValue});
                eventsLog.logEvents.push({message: 'Change from ' + (!!oldValue ? oldValue : 'nothing') + ' to ' + newValue});
            },
            isFocus: function(){
                this.$refs.selectRef.focus();
            }
        },
        computed: {
            options: function(){
                let processedData = [];
                let propsNames = typeof this.propsNamesInData !== 'undefined' ? {title: this.propsNamesInData.title, value: this.propsNamesInData.value} : {title: 'title', value: 'value'};
                if (this.dataForSelect instanceof Array) {
                    this.dataForSelect.forEach(function(element){
                        processedData.push({title: !!element[propsNames.title] ? element[propsNames.title] : element, value: !!element[propsNames.value] ? element[propsNames.value] : element});
                    });
                } else {
                    for (let element in this.dataForSelect){
                        let tempData = this.dataForSelect[element];
                        processedData.push({title: !!tempData[propsNames.title] ? tempData[propsNames.title] : tempData, value: !!tempData[propsNames.value] ? tempData[propsNames.value] : tempData});
                    }
                }
                return processedData;
            }
        },
        methods: {

        }
    });

    let test = new Vue({
        el: '#test',
        data: {
            selectPlaceholder: 'Custom placeholder',
            isDisabled: false,
            isFocus: false,
            // Раскомментировать необъодимую строчку данных
            // dataForSelect: ['test_1', 'test_2', 'test_3'],
            dataForSelect: [{title: 'Test_1', value: 'test_1'}, {title: 'Test_2', value: 'test_2'}, {title: 'Test_3', value: 'test_3'}],
            // dataForSelect: {element1: 'test_1', element2: 'test_2', element3: 'test_3'},
            // dataForSelect: {element1: {title: 'Test_1', value: 'test_1'}, element2: {title: 'Test_2', value: 'test_2'}, element3: {title: 'Test_3', value: 'test_3'}},

            // dataForSelect: [{name: 'Test_1', id: 'test_1'}, {name: 'Test_2', id: 'test_2'}, {name: 'Test_3', id: 'test_3'}],
            // dataForSelect: {element1: {name: 'Test_1', id: 'test_1'}, element2: {name: 'Test_2', id: 'test_2'}, element3: {name: 'Test_3', id: 'test_3'}},

            // Закоментировать, если используются ключи не по умолчанию
            propsNamesInData: undefined,
            // Раскомментировать, если используются ключи не по умолчанию
            // propsNamesInData: {title: 'name', value: 'id'}
        },
        methods: {
            disableClick: function(){
                this.isDisabled = !this.isDisabled;
            },
            focusClick: function (){
                this.isFocus = !this.isFocus;
            }
        }
    });

    let eventsLog = new Vue({
        el: '#eventsLog',
        data: {
            tittle: 'Events log:',
            logEvents: []
        }
    });
</script>
</body>
</html>